*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}
body {
    background-color:#ffffd3;
}
#nav-login{
    background-color: #fbeba9;
}
#nav-cont{
    background-color: #f8eab8;
}
.sticky-top2{
position : --webkit-sticky;
position: sticky;
top: 0px;
z-index: 1030;
}
.sticky-top3{
	position : --webkit-sticky;
	position: sticky;
	top: 54px;
	z-index: 1030;
	}

#logo{
display: block;
margin: 10px auto;
height: 100px;
width: 230px;
}

#pene{
	width: 30px;
	height: 30px;
	border-radius: 30px;
}