*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}
body {
    background-color:#ffffd3;
}
#nav-login{
    background-color: #fbeba9;
}
#nav-cont{
    background-color: #f8eab8;
}
.sticky-top2{
position : --webkit-sticky;
position: sticky;
top: 0px;
z-index: 1030;
}
.sticky-top3{
	position : --webkit-sticky;
	position: sticky;
	top: 54px;
	z-index: 1030;
	}

#logo{
display: block;
margin: 10px auto;
height: 100px;
width: 230px;
}

#pene{
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

.card-img-top{
	height: 300px;
	width: 100%;
}

/* Estilos Modal */

.modal_container{
	display: flex;
	background-color:rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.show{
	pointer-events: auto;
	opacity: 1;
}

.modall{
	background-color: #fff;
	width: 600px;
	max-width: 100%;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
}
.modall h1{
	margin: 0;
	margin-bottom: 10px;
}
.modall p{
	opacity: 0.7;
	font-size:18px;
}
