*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    
}
body {
    background-color:#ffffd3;
}
#nav-login{
    background-color: #fbeba9;
}
#nav-cont{
    background-color: #f8eab8;
}

#logo{
display: block;
margin: 10px auto;
height: 100px;
width: 230px;

}